#set -e
. /usr/share/debconf/confmodule
db_input high sams2-web/reconfigure-webserver || true
db_go || true
db_get sams2-web/reconfigure-webserver
webservers="$RET"
if [ "$webserver" = "apache2" ] ; then
#        cat <<EOF >> /etc/apache2/sites-available/sams2.conf
 #               Alias /sams2 /usr/share/sams2
  #              <Directory /usr/share/sams2/>
   #                     Options +FollowSymLinks
    #                    AllowOverride All
     #                   Require all granted
      #          </Directory>
       # EOF
        ln -s /etc/apache2/sites-available/sams2.conf /etc/apache2/sites-enabled/sams2.conf
        service apache2 restart
fi

